<!DOCTYPE html>
<html>
    <head>
        <title>Recover BIP39 Mnemonic</title>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="node_modules/angular-material-data-table/dist/md-data-table.min.css">
    </head>
    <body>
        <div ng-app="App" ng-controller="MainCtrl" ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Recover BIP39 Mnemonic</h2>
                </div>
            </md-toolbar>
            <md-content flex layout-padding>
                <div>
                    <h1>Use on an offline computer</h1>
                    <p>If you haven't already, download this page and use it on
                    an offline computer to keep your private keys secure!</p>
                </div>
                <form novalidate>
                    <h2>Enter mnemonic to recover NEM accounts</h2>
                    <div layout="row">
                        <md-input-container class="md-block">
                            <label>Network</label>
                            <md-select ng-model="formData.network">
                                <md-option ng-value="104" selected>NEM Mainnet</md-option>
                                <md-option ng-value="-104">NEM Testnet</md-option>
                                <md-option ng-value="96">Mijin</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>BIP-39 mnemonic</label>
                            <input type="text" ng-model="formData.mnemonic" validate-mnemonic required>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>BIP-39 passphrase</label>
                            <input type="password" ng-model="formData.passphrase">
                        </md-input-container>
                    </div>
                </form>
                <form ng-show="accounts" name="downloadForm" novalidate ng-submit="downloadWallet()">
                    <h2>Enter a wallet name and password to export for NanoWallet</h2>
                    <div layout="row">
                        <md-input-container class="md-block" flex>
                            <label>Wallet name</label>
                            <input type="text" ng-model="walletName" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label>Wallet password</label>
                            <input type="password" ng-model="password" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <md-button type="submit" ng-disabled="downloadForm.$invalid">Download wallet</md-button>
                        </md-input-container>
                    </div>
                </form>
                <div ng-show="accounts">
                    <h2>Generated accounts</h2>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column>BIP-32</th>
                                <th md-column>Address</th>
                                <th md-column>Private Key</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="account in accounts">
                                <td md-cell>{{ account.hdKeypath }}</td>
                                <td md-cell>{{ account.address }}</td>
                                <td md-cell>{{ account.privateKey }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </md-content>
        </div>

        <script src="bundle.js"></script>
    </body>
</html>
